input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

@media print {
    @page {
        margin: 10mm;
    }
    body {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
        background-color: #0f172a !important;
    }
    .print-avoid-break {
        page-break-inside: avoid;
    }
    .print-page-break {
        page-break-after: always;
    }
}